section {
  max-width: 360px;
  margin: 0 auto;
}
header {
  max-width: 360px;
  margin: 0 auto;
}
.header_top {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 0;
}
.header_top .logo {
  max-width: 115px;
}
.header_top .logo img {
  width: 100%;
}
.header_top .list {
  display: flex;
  gap: 10px;
}
.header_top .list li {
}
.header_top .list li img {
  width: 100%;
}
.header_top .list li:nth-child(3) {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
}
.header_top .list li:nth-child(3)::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -8px;
}
.header_top .list li:nth-child(3)::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -8px;
}
.gnb_box {
  margin-top: 20px;
  padding-left: 20px;
}
.gnb_box .swiper-slide {
  width: auto;
  white-space: nowrap;
}
.gnb_box .swiper-slide a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header-snb {
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.header-snb .swiper-slide {
  width: auto;
  white-space: nowrap;
}
.header-snb .swiper-slide a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-left: 20px;
}
.header-snb .swiper-slide li {
  position: relative;
}
.header-snb ul li a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}
.section_1 {
  padding-top: 20px;
}
.section_1 .img_box {
  height: 190px;
  background-color: #ccc;
}
.section_1 .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_1 p {
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
  line-height: 1.2;
}
.section_2 {
  margin-top: 25px;
}
.section_2 ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;
}
.section_2 ul li {
}
.section_2 ul li .img_box {
  width: 100%;
  height: 100px;
  background-color: #ccc;
}
.section_2 ul li .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_2 ul li p {
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.2;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.section_3 {
  margin-top: 30px;
}
.section_3 .title-wrap {
  position: relative;
  color: #3596fa;
  color: #faa635;
  overflow: hidden;
}
.section_3 .title-wrap .tit {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.section_3 .title-wrap .tit ._icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 52px;
  background-image: url(img/main_5.png);
  background-size: contain;
  background-position: center center;
}
.section_3 .title-wrap .tit ._icon ._finger {
  position: absolute;
  left: 10px;
  top: 2px;
  animation: floatY 2s ease-in-out infinite;
  transform: scaleX(-1) rotate(35deg);
}
@keyframes floatY {
  0% {
    top: 2px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 2px;
  }
}
.section_3 .title-wrap .tit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3596fa;
  background-color: #faa635;
  margin-left: 140px;
}
.section_3 .title-wrap > a {
  text-align: right;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  font-size: 15px;
  color: #626262;
  margin-top: 10px;
}
.section_3 .title-wrap .txt {
  font-size: 20px;
  line-height: 1.5;
  padding-top: 15px;
}
.section_3 .kuki-box {
  border: 2px solid #3596fa;
  border-color: #faa635;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 15px;
}
.section_3 .kuki-box .txt-wrap {
  padding: 15px 10px;
}
.section_3 .kuki-box .txt-wrap p:nth-child(2) {
  font-size: 12px;
  margin-top: 5px;
}
.section_3 .kuki-box .txt-wrap p:nth-child(3) {
  margin-top: 25px;
}
.section_3 .kuki-box .img-wrap {
  position: relative;
  height: 300px;
}
.section_3 .kuki-box .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_3 .kuki-box .img-wrap p {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 1.2;
}
.section_3 .kuki-box .btm-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
section.section_4 {
  max-width: none;
  width: 360px;
  background-color: #000;
  padding: 50px 0;
  margin-top: 25px;
}
.section_4 .swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 250px;
  color: #fff;
  text-decoration: none;
}
.section_4 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_4 .swiper-slide .sub_txt {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}
section.section_4 .top {
  color: #fff;
  margin: 0 auto;
  max-width: 330px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 2px solid #fff;
  align-items: baseline;
}
section.section_4 .top p {
  font-size: 20px;
  font-weight: bold;
}
section.section_4 .top a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  padding-right: 15px;
}

section.section_4 .top a::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 7px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
}
section.section_4 .top a::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 7px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.section_5 {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #000;
}
.section_5 .article._line {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.section_5 .article .img_box {
  width: 100%;
  height: 170px;
  background-color: #ccc;
}
.section_5 .article .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_5 .article .img_box .tit {
}
.section_5 .article .img_box .txt {
}
.section_5 .article .tit {
  margin: 15px 0 10px;
  font-size: 20px;
  line-height: 1.2;
}
.section_5 .article .txt {
  color: #626262;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.section_6 {
}
.section_6 ul {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  gap: 15px;
}
.section_6 ul li {
}
.section_6 ul li.img_box {
  width: 140px;
  height: 140px;
  background-color: #ccc;
  flex-shrink: 0;
}
.section_6 ul li.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_6 ul li .tit {
  font-size: 17px;
  line-height: 1.2;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.section_6 ul li .txt {
  color: #626262;
  margin-top: 10px;
  line-height: 1.2;

  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.section_7 {
  max-width: none;
  width: 360px;
  margin-top: 30px;
}
.section_7 .top {
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 2px solid #faa635;
}
.section_7 .top p {
  font-size: 20px;
  font-weight: bold;
  color: #faa635;
}
.section_7 .swiper-slide a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 250px;
  color: #000;
  text-decoration: none;
}
.section_7 .swiper-slide a ._bg {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #f39c12 0 50%, transparent 50% 100%);
}
.section_7 .swiper-slide a p._num {
  color: #fff;
  text-align: center;
  padding-right: 18px;
  padding-top: 5px;
  font-weight: bold;
}
.section_7 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 5px;
  margin-left: 5px;
}
.section_7 .swiper-slide .sub_txt {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}
.section_8 {
  overflow: hidden;
  padding-top: 20px;
  border-top: 2px solid #faa835;
  margin-top: 40px;
}
.section_8 .twrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 10px;
}
.section_8 .twrap h2 {
  position: relative;
  font-size: 25px;
  color: #faa635;
  font-weight: bold;
}
.section_8 .twrap a {
  text-decoration: none;
}
.section_8 .opinion li {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 1.2;
  padding: 25px 0;
}
.section_8 .opinion li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.section_8 .opinion li .t_wrap {
  display: flex;
  column-gap: 10px;
}
.section_8 .opinion a:first-child {
  display: inline-block;
  width: 67px;
  height: 67px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}
.section_8 .opinion a:first-child img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section_8 .opinion a {
  text-decoration: none;
}
.section_8 .opinion a p {
  font-size: 19px;
  color: #000;
}
.section_9 {
  overflow: hidden;
  padding-top: 20px;
  border-top: 2px solid #faa835;
  margin-top: 40px;
}
.section_9 .twrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 10px;
}
.section_9 .twrap h2 {
  position: relative;
  font-size: 25px;
  color: #faa635;
  font-weight: bold;
}
.section_9 .twrap a {
  text-decoration: none;
}
.section_9 ._main {
  margin-top: 20px;
}
.section_9 ._main .img_box {
  height: 190px;
  background-color: #ccc;
}
.section_9 ._main .img_box img {
  width: 100%;
}
.section_9 ._main p {
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
  line-height: 1.2;
}
.section_9 ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;
  margin-top: 20px;
}
.section_9 ul li {
}
.section_9 ul li .img_box {
  width: 100%;
  height: 100px;
  background-color: #ccc;
}
.section_9 ul li .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_9 ul li p {
  margin-top: 5px;
  font-size: 15px;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.section_10 {
  overflow: hidden;
  padding-top: 20px;
  border-top: 2px solid #faa835;
  margin-top: 40px;
}
.section_10 .twrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 10px;
}
.section_10 .twrap h2 {
  position: relative;
  font-size: 25px;
  color: #faa635;
  font-weight: bold;
}
.section_10 .twrap a {
  text-decoration: none;
}
.section_10 .item_wrap {
  margin-top: 20px;
}
.section_10 ul {
  display: flex;
  margin-top: 5px;
  gap: 15px;
}
.section_10 ul li {
}
.section_10 ul li.img_box {
  width: 120px;
  height: 70px;
  flex-shrink: 0;
  background-color: #ccc;
}
.section_10 ul li.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_10 ul li .tit {
  font-size: 17px;
  line-height: 1.2;
}
.section_11 {
  margin-bottom: 80px;
  margin-top: 40px;
}
.section_11 .map_wrap {
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.section_11 .title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.section_11 .title_wrap p {
  font-size: 18px;
  font-weight: bold;
}
.section_11 .title_wrap button {
  font-size: 18px;
  outline: none;
  background-color: transparent;
  border: none;
  transform: rotate(90deg);
}
.section_11 .deep_wrap {
  display: none;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  font-size: 18px;
  color: #b3b3b3;
  margin-bottom: 20px;
}
.section_11 .active .deep_wrap {
  display: grid;
}
.section_11 .active .title_wrap button {
  transform: rotate(270deg);
}
.btm_wrap {
  position: relative;
}
._fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.btm_btn {
  display: flex;
  max-width: 360px;
  margin: 0 auto;
  padding: 15px;
  background-color: #faa635;
}
.btm_btn li {
  width: calc(100% / 3);
}
.btm_btn li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 20px;
}
