body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}
p {
  font-size: 1rem;
}
section {
  max-width: 360px;
  margin: 0 auto;
}
header {
  max-width: 360px;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid #000;
}
.header_top {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px 0;
  align-items: baseline;
}
.header_top .logo {
  font-size: 2rem;
  font-weight: bold;
  max-width: 115px;
}
.header_top .logo img {
  width: 100%;
}
.header_top .list {
  display: flex;
  gap: 10px;
}
.header_top .list li img {
  width: 100%;
}
.header_top .list li:nth-child(3) {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
}
.header_top .list li:nth-child(3)::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -8px;
}
.header_top .list li:nth-child(3)::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -8px;
}
/* 상단 버튼 리스트 */
.gnb_box {
  margin-top: 1rem;
}
.gnb_box .swiper-slide {
  width: auto;
  white-space: nowrap;
}
.gnb_box .swiper-slide a {
  text-decoration: none;
  color: #5c5c5c;
  font-weight: bold;
}
.gnb_box .swiper-slide {
  padding: 0.4rem 1rem;
  border-radius: 25px;
  background-color: #e3e3e3;
}
.gnb_box .swiper-slide.active {
  background-color: #faa635;
}

.gnb_box .swiper-slide.active a {
  color: #fff;
}
.header-snb {
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.header-snb .swiper-slide {
  width: auto;
  white-space: nowrap;
}
.header-snb .swiper-slide a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-left: 20px;
}
.header-snb .swiper-slide li {
  position: relative;
}
.header-snb ul li a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}
/* 기자 이름 슬라이드 */
.reporter-wrapper {
  border: 0.1rem solid #b9b9b9;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  padding: 1rem 0;
}
.reporter-wrapper .title {
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
}
.reporter-wrapper .title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #faa635;
  top: 50%;
  left: 50px;
}
.reporter-wrapper .swiper {
  margin-top: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #faa635;
}
.reporter-wrapper .swiper .swiper-wrapper .swiper-slide {
  width: 25%;
}
.reporter-wrapper .swiper .swiper-wrapper .swiper-slide .img_box {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.1rem solid #ccc;
}
.reporter-wrapper .swiper .swiper-wrapper .swiper-slide .img_box img {
  width: 100%;
}
.reporter-wrapper .swiper .swiper-wrapper .swiper-slide .name {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}
/* 기사 내용 박스 */
.article_wrap {
  margin-top: 1.5rem;
}
.article_wrap > li {
  border: 0.1rem solid #b9b9b9;
  margin-top: 1.5rem;
  border-color: #faa635;
}
.article_wrap .top_wrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;

  position: relative;
  padding-bottom: 1rem;
}
.article_wrap .top_wrap .img_box {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border: 0.1rem solid #ccc;
  border-radius: 50%;
}
.article_wrap .top_wrap .img_box img {
  width: 100%;
}
.article_wrap .top_wrap .txt_wrap {
  line-height: 1.5;
}
.article_wrap .top_wrap .txt_wrap p:nth-child(1) {
  font-weight: bold;
  font-size: 1.1rem;
  font-size: 0.9rem;
}
.article_wrap .top_wrap .txt_wrap .data {
  /* position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 0.8rem;
  color: #666; */
  font-size: 0.9rem;
  /* color: #666; */
}
.article_wrap .btm_wrap .data {
  font-size: 0.8rem;
  color: #666;
  text-align: RIGHT;
  padding-right: 1rem;
}
.article_wrap .btm_wrap .txt {
  line-height: 1.2;
  padding: 0 1rem;

  margin-top: 0.5rem;

  position: relative;
}
.article_wrap .btm_wrap .txt span {
  display: block;
}
.article_wrap .btm_wrap .txt .in {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.article_wrap .btm_wrap .txt .wrap {
  position: absolute;
  bottom: 0;
  right: 1rem;

  display: flex;
  background-color: #fff;
  padding-left: 10px;
  column-gap: 5px;
}
.article_wrap .btm_wrap .txt .more {
  font-size: 0.8rem;
  text-align: right;
  padding-top: 0.2rem;
  /* text-decoration: underline; */

  background-color: #fff;
  cursor: pointer;

  color: #b3aeae;
}
.article_wrap .btm_wrap .img_box {
  position: relative;
  margin-top: 1rem;
}
.article_wrap .btm_wrap .img_box::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(0 0 0 / 90%) 0%,
    rgba(57, 114, 57, 0) 40%
  );
  pointer-events: none;
}
.article_wrap .btm_wrap .img_box .img_wrap img {
  aspect-ratio: 1/1;
}
.article_wrap .btm_wrap .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article_wrap .btm_wrap .img_box p {
  color: #fff;
  z-index: 999;
  position: absolute;
  bottom: 0;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.article_wrap .btn_wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}
.article_wrap .btn_wrap .img_box {
  width: 2rem;
}
.article_wrap .btn_wrap .img_box img {
  width: 100%;
}
.article_wrap .btn_wrap .num {
  line-height: 32px;
  padding-bottom: 3px;
}
.article_wrap .btn_wrap .left_wrap {
  display: flex;
  column-gap: 0.5rem;
  align-items: baseline;
}
.article_wrap .btn_wrap .left_wrap .icon_heart {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.footer {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  margin-top: 4rem;
  background-color: #fff;
}
.footer .copyright {
  color: #828282;
  line-height: 1.2;
}
.footer .link_pc {
  margin-top: 2rem;
  text-align: right;
}
.footer .link_pc a {
  border: 1px solid #4c4c4c;
  color: #e1e1e1;
  background: #333;
  padding: 0.2rem 0.5rem;

  background: #333;
  padding: 0.2rem 0.5rem;
  color: #5f5e5e;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* 하단 고정바 */
.fixed {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
.fixed li {
  width: calc(100% / 3);
  text-align: center;
}
.fixed li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ccc;
  line-height: 2;
  text-decoration: none;
}
.fixed li .img_box {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}
.fixed li .txt {
  font-size: 20px;
}
.fixed li.active .txt {
  color: #faa635;
}
.fixed li.feed {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.fixed li.news .img_box {
  background-image: url("../img/icon_fixed_1.png");
}
.fixed li.feed .img_box {
  background-image: url("../img/icon_fixed_2.png");
}
.fixed li.oven .img_box {
  background-image: url("../img/icon_fixed_3.png");
}
.fixed li.news.active .img_box {
  background-image: url("../img/icon_fixed_1_active.png");
}
.fixed li.feed.active .img_box {
  background-image: url("../img/icon_fixed_2_active.png");
}
.fixed li.oven.active .img_box {
  background-image: url("../img/icon_fixed_3_active.png");
}
