body {
  width: 100vw;
  overflow-x: hidden;
  margin-top: 16px;
}
p {
  font-size: 16px;
  line-height: 1.2;
}
a {
  color: #000;
  text-decoration: none;
}
section {
  max-width: 360px;
  margin: 0 auto;
}

/* header */
header .headerTop {
  display: flex;
  justify-content: space-between;
  margin: 0 0.8rem;
}
header .headerTop .logo {
  max-width: 115px;
}
header .headerTop .logo img {
  width: 100%;
}
header .headerTop .list {
  display: flex;
  gap: 10px;
}
header .headerTop .list li img {
  width: 100%;
}
header .headerTop .list li.line {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
}
header .headerTop .list li.line::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -8px;
}
header .headerTop .list li.line::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -8px;
}
header .headerGnb {
  margin: 1rem 0.5rem;
  padding: 1rem 0.8rem;
  border-bottom: 0.15rem solid #000;
}
header .headerGnb .swiper-slide {
  width: auto;
  white-space: nowrap;
}
header .headerGnb .swiper-slide a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.topSection {
  margin-top: 40px;
}
.topSection .tit_wrap {
  margin-top: 20px;
}
.topSection .tit_wrap .tit {
  font-size: 20px;
  font-weight: bold;
}
.topSection .tit_wrap .data {
  margin-top: 10px;
  text-align: left;
  color: #333;
}
.topSection .subTit_wrap {
  padding: 0 10px;
  color: #9e9999;
  border-left: 4px solid #ccc;
  margin-top: 20px;
}
.topSection .subTit_wrap .subTit {
  line-height: 1.4;
}
.topSection .img_wrap {
  margin-top: 20px;
  height: 240px;
}
.topSection .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topSection .img_wrap figcaption {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  padding-left: 10px;
}
.aiNews {
  margin-top: 10px;
  background-color: #fec57b;
  padding: 10px 15px;
  border-radius: 15px;
  box-sizing: border-box;
}
.aiNews .tit {
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
  font-size: 18px;
}
.aiNews .txt_list {
  list-style-type: circle;
  line-height: 1.6;
  font-size: 16px;
  padding-left: 20px;
}
.newsTxt {
  margin-top: 20px;
}
.newsTxt .txt_wrap {
  margin: 0 auto;
}
.newsTxt .txt_wrap .txt {
  padding: 10px 0;
  word-break: break-all;
  line-height: 1.5;
}
.newsTxt .txt_wrap .txt:first-child {
  padding-top: 0;
}
.about_wrap {
  margin-top: 20px;
}
.about_wrap .title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  border-top: 2px solid #000;
}
.about_wrap .about_list {
  display: flex;
  column-gap: 10px;
}
.about_wrap .about_list_box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
}
.about_wrap .about_list .img_box {
  width: 200px;
  height: 100px;
  flex-shrink: 0;
}
.about_wrap .about_list .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_wrap .about_list p.txt {
  width: 200px;
  line-height: 1.2;
}
.card_wrap {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.card_wrap .flex {
  display: flex;
  column-gap: 20px;
}
.card_wrap .img_box {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}
.card_wrap .img_box img {
  width: 100%;
}
.card_wrap .name_box {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.card_wrap .name_box .name {
  font-weight: bold;
}
.card_wrap .name_box .more:hover {
  text-decoration: underline;
}

.card_wrap .name_box .all_btn {
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 25px;
}
.card_wrap .des_box {
  padding: 20px 0;
  border-bottom: 2px solid #000;
}
.card_wrap .des_box p {
  position: relative;
  text-align: center;
  background: #fec57b40;
  line-height: 4;
  border-radius: 25px;
  margin: 0 15px;
}
.card_wrap .des_box p::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 30px;
  border: 10px solid transparent;
  border-bottom-color: #fec57b40;
}
.btn_wrap {
  margin-top: 20px;
}
.btn_wrap .tit {
  text-align: center;
}
.btn_wrap .btn_list {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  padding: 0 10px;
  margin-top: 10px;
}
.btn_wrap .btn_list > li {
  width: calc(100% / 5);
  text-align: center;
}
.btn_wrap .btn_list > li .img_box img {
  width: 100%;
  box-sizing: border-box;
}
.btn_wrap .btn_list .txt_box p {
  font-size: 14px;
}
.advr_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 20px;
}
.commentSection {
  margin-top: 20px;
}
.commentSection .commentTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentSection .commentTop .icon_wrap {
  display: flex;
  column-gap: 5px;
}
.commentSection .CommentMid {
  margin-top: 10px;
}
.commentSection .CommentMid .comment_box textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 5px;
}
.commentSection .CommentMid .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.commentSection .CommentMid .flex p {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentSection .CommentMid .flex .comment_btn {
  position: relative;
}
.commentSection .CommentMid .flex .comment_btn .main {
  position: relative;
  color: #e5496e;
  align-items: center;
  column-gap: 10px;
}
.commentSection .CommentMid .flex .comment_btn > ul {
  position: absolute;
  top: 25px;
  right: 0;
  border: 1px solid #ccc;
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.commentSection .CommentMid .flex .comment_btn > ul li {
  padding: 5px;
}
.commentSection .CommentMid .flex .comment_btn > ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.commentSection .commentBtm {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 10px;
}
.commentSection .commentBtm p {
  font-size: 12px;
  line-height: 2;
}
.original_slide {
  color: #fff;
  padding: 35px 0;
  overflow: hidden;
  position: relative;
  background-color: #000;
  overflow: hidden;
  margin-top: 30px;
}
.original_slide > .tit {
  font-size: 20px;
  position: relative;
  margin-left: 10px;
  font-weight: bold;
}
.original_slide > .tit::after {
  content: "";
  position: absolute;
  top: 11.5px;
  left: 120px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.original_slide .original_sl {
  width: 250px;
  margin-top: 20px;
}
.original_slide .original_sl .img_box {
  width: 100%;
  height: 250px;
}
.original_slide .original_sl .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.original_slide .original_sl .txt {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
}
/* 많이 본 기사 */
.manyViewSection {
  margin-top: 30px;
}
.manyViewSection .top {
  margin-bottom: 1.2rem;
  padding: 1rem 0.5rem 0;
  border-top: 2px solid #faa635;
}
.manyViewSection .top .txt {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 115%;
  color: #faa635;
}
.manyViewSection .swiper-slide .inner {
  position: relative;
  display: inline-block;
  height: 15rem;
}
.manyViewSection .swiper-slide .inner ._bg {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(135deg, #f39c12 0 50%, transparent 50% 100%);
}
.manyViewSection .swiper-slide .inner p._num {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
  font-weight: bold;
}
.manyViewSection .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.manyViewSection .swiper-slide .sub_txt {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}

.youlikeSection {
  margin-top: 20px;
}
.youlikeSection .top {
  display: flex;
  justify-content: space-between;
}
.youlikeSection .top .tit {
  font-weight: bold;
}
.youlikeSection .top .tit .point {
  color: #ffa415;
}
.youlikeSection .top .logo {
  color: #999;
  font-size: 11px;
  display: flex;
  gap: 5px;
}
.youlikeSection .top .logo b {
  width: 46px;
  display: inline-block;
  height: 14px;
  font-size: 0;
  background-image: url("https://images.dable.io/static/i/logo-text-tiny-gray.png");
}
.section_11 {
  margin-top: 40px;
}
.section_11 .map_wrap {
  border-top: 1px solid #ccc;
  cursor: pointer;
  padding-left: 1rem;
}
.section_11 .title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.section_11 .title_wrap p {
  font-size: 18px;
  font-weight: bold;
}
.section_11 .title_wrap button {
  font-size: 18px;
  outline: none;
  background-color: transparent;
  border: none;
  transform: rotate(90deg);
}
.section_11 .deep_wrap {
  display: none;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  font-size: 18px;
  color: #b3b3b3;
  margin-bottom: 20px;
}
.section_11 .active .deep_wrap {
  display: grid;
}
.section_11 .active .title_wrap button {
  transform: rotate(270deg);
}
.kukiFeed {
  margin-top: 30px;
}
.kukiFeed .title-wrap {
  position: relative;
  color: #3596fa;
  color: #faa635;
  overflow: hidden;
}
.kukiFeed .title-wrap .tit {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.kukiFeed .title-wrap .tit ._icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 52px;
  background-image: url(../img/main_5.png);
  background-size: contain;
  background-position: center center;
}
.kukiFeed .title-wrap .tit ._icon ._finger {
  position: absolute;
  left: 10px;
  top: 2px;
  animation: floatY 2s ease-in-out infinite;
  transform: scaleX(-1) rotate(35deg);
}
@keyframes floatY {
  0% {
    top: 2px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 2px;
  }
}
.kukiFeed .title-wrap .tit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3596fa;
  background-color: #faa635;
  margin-left: 140px;
}
.kukiFeed .title-wrap > a {
  text-align: right;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  font-size: 15px;
  color: #626262;
  margin-top: 10px;
}
.kukiFeed .title-wrap .txt {
  font-size: 20px;
  line-height: 1.5;
  padding-top: 15px;
}
.kukiFeed .kuki-box {
  border: 2px solid #3596fa;
  border-color: #faa635;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 15px;
}
.kukiFeed .kuki-box .txt-wrap {
  padding: 15px 10px;
}
.kukiFeed .kuki-box .txt-wrap p:nth-child(2) {
  font-size: 12px;
  margin-top: 5px;
}
.kukiFeed .kuki-box .txt-wrap p:nth-child(3) {
  margin-top: 25px;
}
.kukiFeed .kuki-box .img-wrap {
  position: relative;
  height: 300px;
}
.kukiFeed .kuki-box .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kukiFeed .kuki-box .img-wrap p {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 1.2;
}
.kukiFeed .kuki-box .btm-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.kukiFeed .kuki-box .btn_wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  margin-top: 0;
}
.kukiFeed .kuki-box .btn_wrap .img_box {
  width: 2rem;
}
.kukiFeed .kuki-box .btn_wrap .img_box img {
  width: 100%;
}
.kukiFeed .kuki-box .btn_wrap .num {
  line-height: 32px;
  padding-bottom: 3px;
}
.kukiFeed .kuki-box .btn_wrap .left_wrap {
  display: flex;
  column-gap: 0.5rem;
  align-items: baseline;
}
.kukiFeed .kuki-box .btn_wrap .left_wrap .icon_heart {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

/* 하단 고정바 */
.fixed {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
.fixed li {
  width: calc(100% / 3);
  text-align: center;
}
.fixed li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ccc;
  text-decoration: none;
}
.fixed li .img_box {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}
.fixed li .txt {
  font-size: 20px;
}
.fixed li.active .txt {
  color: #faa635;
}
.fixed li.feed {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.fixed li.news .img_box {
  background-image: url("../img/icon_fixed_1.png");
}
.fixed li.feed .img_box {
  background-image: url("../img/icon_fixed_2.png");
}
.fixed li.oven .img_box {
  background-image: url("../img/icon_fixed_3.png");
}
.fixed li.news.active .img_box {
  background-image: url("../img/icon_fixed_1_active.png");
}
.fixed li.feed.active .img_box {
  background-image: url("../img/icon_fixed_2_active.png");
}
.fixed li.oven.active .img_box {
  background-image: url("../img/icon_fixed_3_active.png");
}

/* 푸터 */
.footer {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  margin-top: 4rem;
  background-color: #fff;
}
.footer .copyright {
  color: #828282;
  line-height: 1.2;
}
.footer .link_pc {
  margin-top: 2rem;
  text-align: right;
}
.footer .link_pc a {
  border: 1px solid #4c4c4c;
  color: #e1e1e1;
  background: #333;
  padding: 0.2rem 0.5rem;

  background: #333;
  padding: 0.2rem 0.5rem;
  color: #5f5e5e;
  background-color: #fff;
  border: 1px solid #ccc;
}
