body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 1rem;
}
p {
  font-size: 1rem;
}
a {
  color: #000;
  text-decoration: none;
}
section {
  margin: 0 auto;
}
header {
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid #000;
}
.header_top {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px 0;
  align-items: baseline;
}
.header_top .logo {
  font-size: 2rem;
  font-weight: bold;
  max-width: 115px;
}
.header_top .logo img {
  width: 100%;
}
.header_top .list {
  display: flex;
  gap: 10px;
}
.header_top .list li img {
  width: 100%;
}
.header_top .list li:nth-child(3) {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
}
.header_top .list li:nth-child(3)::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -8px;
}
.header_top .list li:nth-child(3)::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -8px;
}

/* 상단 텍스트 영역 */
.top_txt-wrap {
  margin-top: 2rem;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #ccc;
}
.top_txt-wrap .tit {
  font-weight: bold;
  font-size: 1.5rem;
}
.top_txt-wrap .txt_list {
  margin-top: 1rem;
}
.top_txt-wrap .txt {
  line-height: 1.2;
}
.top_txt-wrap .txt:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* 상단 배너 영역 */
.top_banner-wrap {
  margin-top: 35px;
  padding: 3rem 0.5rem;
  color: #fff;
  text-align: center;
  background: url("../img/oven_bg.png") center / cover;
  height: 500px;
  padding-top: 10rem;
  box-sizing: border-box;
}
.top_banner-wrap .tit_wrap {
}
.top_banner-wrap .tit_wrap .tit {
  line-height: 1.5;
}
.top_banner-wrap .tit_wrap .tit._1 {
  font-size: 2rem;
  font-weight: bold;
}
.top_banner-wrap .tit_wrap .tit._2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.top_banner-wrap .txt_wrap {
  margin-top: 3rem;
  padding: 0 0.5rem;
}
.top_banner-wrap .txt_wrap p {
  line-height: 1.5;
}
.top_banner-wrap .txt_wrap p:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* 기사 영역 */
.article_wrap {
  margin-top: 45px;
}
.article_wrap > p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.article_wrap > p::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 60px;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.article_wrap .swiper {
  width: 100%;
}
.article_wrap .swiper .img_box img {
  width: 100%;
}
.article_wrap .swiper .tit {
  font-weight: bold;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin-top: 10px;
}
/* .article_wrap .article_list {
  display: flex;
  border: 0.1rem solid #ccc;
  padding: 0.5rem;
  column-gap: 10px;
}
.article_wrap .article_list .img_box {
  width: 8rem;
  flex-shrink: 0;
}
.article_wrap .article_list .img_box img {
  width: 100%;
}
.article_wrap .article_list .txt_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.2;
}
.article_wrap .article_list .txt_box .tit {
  font-weight: bold;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.article_wrap .article_list .txt_box .txt {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
} */

/* 아이템 영역 */
.sell_item {
  /* border-top: 1px solid #ccc; */
  /* padding-top: 25px; */
  margin-top: 45px;
}
.sell_item > p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.sell_item > p::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 50px;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.sell_item li {
  margin-bottom: 20px;
}
.sell_item > li img {
  width: 100%;
}
.sell_item .img_box {
  height: 250px;
}
.sell_item .img_box img {
  height: 100%;
  object-fit: cover;
}
.sell_item .tit {
  margin-top: 10px;
}
.sell_item .price {
  margin-top: 10px;
  color: #faa635;
  font-weight: bold;
  font-size: 20px;
}
.sell_item .btn {
  margin-top: 10px;
  display: inline-block;
  font-size: 15px;
  color: #fff;
  background-color: #faa635;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}
.projects_wrap {
  margin-top: 60px;
}
.projects_wrap .title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.projects_wrap .title::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 90px;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.projects_wrap .swiper {
  margin-top: 20px;
}
.projects_wrap .swiper .img_box img {
  width: 100%;
}
.projects_wrap .swiper .txt_wrap p {
  text-align: left;
}
.projects_wrap .swiper .txt_wrap p.tit {
  margin-top: 10px;
}
.projects_wrap .swiper .txt_wrap p.txt {
  font-weight: normal;
  margin-top: 10px;
  color: #828282;
  font-size: 18px;
  line-height: 1.2;
}

/* 하단 고정바 */
.fixed {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
.fixed li {
  width: calc(100% / 3);
  text-align: center;
}
.fixed li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ccc;
  text-decoration: none;
}
.fixed li .img_box {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}
.fixed li .txt {
  font-size: 20px;
}
.fixed li.active .txt {
  color: #faa635;
}
.fixed li.feed {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.fixed li.news .img_box {
  background-image: url("../img/icon_fixed_1.png");
}
.fixed li.feed .img_box {
  background-image: url("../img/icon_fixed_2.png");
}
.fixed li.oven .img_box {
  background-image: url("../img/icon_fixed_3.png");
}
.fixed li.news.active .img_box {
  background-image: url("../img/icon_fixed_1_active.png");
}
.fixed li.feed.active .img_box {
  background-image: url("../img/icon_fixed_2_active.png");
}
.fixed li.oven.active .img_box {
  background-image: url("../img/icon_fixed_3_active.png");
}

.footer {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  margin-top: 4rem;
  background-color: #fff;
}
.footer .copyright {
  color: #828282;
  line-height: 1.2;
}
.footer .link_pc {
  margin-top: 2rem;
  text-align: right;
}
.footer .link_pc a {
  border: 1px solid #4c4c4c;
  color: #e1e1e1;
  background: #333;
  padding: 0.2rem 0.5rem;

  background: #333;
  padding: 0.2rem 0.5rem;
  color: #5f5e5e;
  background-color: #fff;
  border: 1px solid #ccc;
}
